#vo-overlay {
  position: fixed;
  inset: 0;
  z-index: 2147483647; /* maximum-ish */
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.65);
}


#vo-overlay .box {
  width: 90%;
  height: 90%;
  background: #ff0000;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0,0,0,0.5);
  position: relative;
}

#vo-overlay video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}